<!--
  Student ID: 301145757 , 301143620 , 301173877 , 301178658 , 301182897 , 300977318
  Web App Name: Runtime
  Description: An Incident Management Application
-->

<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container mb-4">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="text-center pb-3"><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="RecordNumbertextField" class="labelList">Record Number</label>
                    <input type="text" class="form-control" id="RecordNumbertextField" name="RecordNumber"
                    value="<%= incident.RecordNumber %>" readonly>
                </div>

                <div class="form-group mt-3">
                    <input type="hidden"
                        name="id"
                        value="<%= incident._id %>"
                    >
                    <label for="requestTextField">Requester Name</label>
                    <input type="text" class="form-control"
                        id="requestTextField"
                        placeholder="First and last name."
                        name="RequesterName" 
                        value="<%= incident.RequesterName %>"
                        required>
                </div>
                
                <div class="form-group mt-3">
                    <label for="descTextField">Description</label>
                    <input type="text" class="form-control"
                        id="descTextField"
                        placeholder="Enter the incident description."
                        name="Description" 
                        value="<%= incident.Description %>"
                        required>
                </div>
                
                <div class="form-group mt-3">
                    <label for="narTextField">Narrative</label>
                    <input type="text" class="form-control"
                        id="narTextField"
                        placeholder="Enter the incident narrative."
                        name="Narrative" 
                        value="<%= incident.Narrative %>"
                        required>
                </div>
                
                <div class="form-group mt-3">
                    <label for="priorityTextField">Priority</label>
                    <select class="form-select" id="priorityTextField" name="Priority" required>
                        <option value="Low" selected>--Open to select priority--</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>
                
                <div class="form-group mt-3">
                    <label for="techTextField">Technician</label>
                    <select class="form-select" id="techTextField" name="Technician" required>
                        <option value="Unassigned" selected>--Open to select technician--</option>
                        <option value="Lana Reyes">Lana Reyes</option>
                        <option value="James Archer">James Archer</option>
                        <option value="Aparna Ragavan">Aparna Ragavan</option>
                        <option value="Robert Lee">Robert Lee</option>
                        <option value="Stephen Nelson">Stephen Nelson</option>
                    </select>
                </div>
                
                <div class="form-group mt-3">
                    <label for="statTextField">Status</label>
                    <select class="form-select" id="statTextField" name="Status">
                        <option value="New" selected>--Select a priority--</option>
                        <option value="New" selected>New (default)</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
                
                <div class="form-group mt-3">
                    <label for="dateTextField">Date</label>
                    <input type="text" class="form-control"
                        id="dateTextField"
                        placeholder="Enter the CreatedDate"
                        name="CreatedDate" 
                        value="<%= incident.CreatedDate %>"
                        readonly>
                </div>
                
                <div class="mt-3 mb-5 pb-5 text-center">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                    </button>
                    
                    <a href="/incident/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> 
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer.ejs %>